include dash_carbon_components/dash_carbon_components.min.js
include dash_carbon_components/dash_carbon_components.min.js.map
include dash_carbon_components/metadata.json
include dash_carbon_components/package-info.json
include README.md
include LICENSE
include package.json
